{% extends 'base.html.twig' %}

{% block hero %}
    {% if header is defined %}
        {% include "components/hero.html.twig" with
            {
            heroHeader: header
            }
        %}
    {% endif %}
{% endblock %}

{% block body %}
<!-- NAV CATEGORIES -->
{% set route = app.request.get('_route') %}
{% set requestSlug = app.request.get('slug') %}

<nav class="nav-categories" id="prev-next-ink">
    <div class="container" id="test">
        <ul>
            <li class="nav-item {{ route == 'works' ? 'active' }}">
                <a href="{{ path('works') }}" class="nav-link">Tous les projets</a>
            </li>
            {% for category in categories %}
                <li class="nav-item {{ requestSlug == category.slug ? 'active' }} ">
                <a href="{{ path('works_filter', {'slug': category.slug}) }}" class="nav-link">{{ category.name }}</a>
              
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>



<main class="single-content">
    <!-- Précedent et suivant -->
    <!-- ================================ -->
    <div class="container prevNext-wrapper">
        {% if previousWork %}
            <a href="{{ path('show_work', {'id': previousWork.id }) }}&#prev-next-ink" class="btn btn-secondary">&#8249;&#8249; Précédent</a>
        {% endif %}
    
        {% if nextWork %}
            <a href="{{ path('show_work', {'id': nextWork.id }) }}&#prev-next-ink" class="btn btn-secondary">Suivant &#8250;&#8250;</a>
        {% endif %}
        
    </div>


    <!-- WORK -->
    <!-- ================================ -->
     <section class="sigle-container container">
            <!-- description -->
            <div class="single-description-wrapper flex-wrap">
                <div class="single-description-wrap">
                    <h2 class="section-title">{{ work.title }}</h2>
                    <p class="single-description-categories">
                        <span class="category">{{ work.categorie }}</span>
                    </p>
                    <hr class="separator" />
                    <h3 class="single-description-subtitle">{{ work.subtitle }}</h3>
                    <p class="single-description-content">
                        {{ work.description|raw }}
                    </p>
                    {% if work.technology %}
                        <p class="single-description-technology">
                            {{ work.technology }}
                        </p>
                    {% endif %}
                </div>
                {% if work.link  %}
                    <div class="single-description-btn-wrap">
                        <p>
                            <a href="{{ work.link }}" class="btn">Voir le site</a>
                        </p>
                    </div>
                {% endif %}                
            </div>

            <!-- images -->
            <div class="sigle-images-wrapper flex-wrap">
                <div class="sigle-featured-image">
                    <img src="{{ asset('uploads/projets/' ~ work.featuredImage ) }}" alt="{{ work.title }} : {{ work.subtitle }}">
                </div>
                <div class="sigle-description-image-wrap flex-wrap">
                    <div class="image-wrap">
                        <img class="sigle-description-image" src="{{ asset('uploads/projets/' ~ work.imageOne ) }}" alt="{{ work.title }} : {{ work.subtitle }}" >
                    </div>
                    <div class="image-wrap">
                    <img  class="sigle-description-image" src="{{ asset('uploads/projets/' ~ work.imageTwo ) }}" alt="{{ work.title }} : {{ work.subtitle }}" >
                    </div>

                </div>
            </div>

        </section>

</main>
{% endblock %}