<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if pageDescription is defined %}
        <meta name="description" content="{{ pageDescription }}"/>
    {% endif %}

    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />

    <title>{{ pageTitle }} | cyannlab</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    
    {% block headerScripts %}{% endblock %}
</head>

<body>
    <header>
        <!-- Navbar -->
        {% include "layout/navbar.html.twig" %}
    
        <!-- Hero -->
        {% block hero %}{% endblock %}
    </header>

    {% block body %}{% endblock %}


     <!-- Footer -->
    {% include "layout/footer.html.twig" %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>