 <div class="hero-wrapper">
     <div class="hero-backround-container">
         <img class="hero-background-img" src="{{ asset('uploads/headers/') ~ image }}" alt="{{ alt }}">
     </div>

     <div class="hero-text-wrap">
         <h1 class="hero-title">
             {{ title }}<br />
         </h1>
         <h2 class="hero-subTitle">
             {{ subtitle|raw }}
         </h2>
         {% if content is defined %}
         <p class="hero-content">
             {{ content }}
         </p>
         {% endif %}
         <div class="hero-btn-wrap">
             <a href="/works.html" class="btn hero-btn">Réalisations</a>
             <a href="/contact.html" class="btn hero-btn">Contact</a>
         </div>
     </div>
 </div>