 <div class="hero-wrapper">
     <div class="hero-backround-container">
         <img class="hero-background-img" src="{{ asset('uploads/headers/') ~ heroHeader.image }}" alt="{{ heroHeader.title }}">
     </div>

     <div class="hero-text-wrap">
         <h1 class="hero-title">
             {{ heroHeader.title }}<br />
         </h1>
         <h2 class="hero-subTitle">
             {{ heroHeader.subtitle|raw }}
         </h2>
         {% if heroHeader.content is defined %}
            <p class="hero-content">
                {{ heroHeader.content }}
            </p>
         {% endif %}
         <div class="hero-btn-wrap">
             <a href="/works.html" class="btn hero-btn">Réalisations</a>
             <a href="/contact.html" class="btn hero-btn">Contact</a>
         </div>
     </div>
 </div>